h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  padding: 10px 20px;
  margin: 10px;
  background-color: #E8F3F6;
}

li > h1 {
  color: #7a062e;
}

li > label {
  color: #1e8ba6;
}

.talk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.speaker {
  display: flex;
  align-items: center;
  font-size: 25px;
  flex-basis: 15%;
}

.speaker > img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.Summary {
  // margin-left: 30px;
  flex-basis: 82%;
}

a {
  color: #42b983;
}
