.todoapp {
  width: 50%;
  margin: 0 auto;
}

.new-task {
  border-radius: 5px;
  width: 70%;
  height: 30px;
  font-size: 17px;
}

.html_list {
  width: 70%;
  height: 30px;
  border: 0;
  font-size: 17px;
}

.create {
  background-color: skyblue;
  font-size: 17px;
  padding: 5px 20px;
  border-radius: 5px;
}
.clear{
  clear:both;
}
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 17px;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid;

}
li>label:nth-of-type(1){
  flex-basis: 60%;
  align-self: center;
}
li>input{
  flex-basis: 60%;
}
.html_list {
  width: 50%;
}
.complete{
  text-decoration: line-through;
}
.deleteTask {
  margin-left: 20px;
  color: #ED0036;
  font-size: 17px;
  border-radius: 5px;
  align-self: center;
}

.modifyTask {
  margin-left: 20px;
  /* width: 70px; */
  background-color: #FFC200;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.status{
  display: none;
}
.Strikethrough{
  text-decoration:line-through;
}
